div#weather {
	font-size: x-small;
}

div#stats {
	font-size: x-small;
}

div#sensorStatus {
	font-size: x-small;
}

div#connection {
	font-size: x-small;
	position: fixed;
	bottom: 0;
    right: 0;
	background-color: white;
}

div#connection.success { background-color: greenyellow; }
div#connection.good {	 background-color: white; }
div#connection.warning { background-color: yellow; }
div#connection.error {   background-color: orangered; color: white; }

div#connectionStatus {
	font-size: x-small;
	position: fixed;
	top: 0;
    right: 0;
	background-color: black;
	width: 10px;
	height: 10px;
}

#connectionStatus.nostatus { 	 background-color: black; }
#connectionStatus.connected {	 background-color: greenyellow; }
#connectionStatus.disconnected { background-color: red; }
#connectionStatus.connecting {	 background-color: yellow; }
